<!DOCTYPE html>
<html>
<head>
<title> jashim first web design </title>
</head>
<body>
<h1> land of river </h1>
<p> welcome to the land of river, you know lot of river names  </p>
</body>
text &nbsp&nbsp&nbsp text
<br>
<br>
<br>
<!-- this is the start section of the html code for the second section
and we will start each section with a header tag
-->
<h2> flower field in bangladesh </h2>
<p> bangladesh is very rich in all flowers </p>
<body>
<h3> unorderlist and order food list </h3>
     <ul>
	 <li> fried rice </li>
	 <li> fried chicken </li>
	 <li> mixed vegetble</li>
	 <li> soup </li>
	 
     </ul>
	 
	 <ol>
	 <li> fried rice </li>
	 <li> fried chicken </li>
	 <li> mixed vegetble</li>
	 <li> soup </li>
	 
     </ol>
</body>
<body>
<h4> table </h4>
     <table>
	 <tr>
	    <th> rainy </th>
		<th> sun </th>
		<th> moon </th>
	 </tr>
	 
	 <tr>
	    <td> strome </td>
		<td> light </td>
		<td> awsome </td>
	 </tr>
	     
	 </table>
	 
	 
</body>
<body>
<h5> link </h5>

<p> please check my link
<a  href="https://mail.google.com/mail/u/0/#inbox">
my own emil link </a>

</p>    	 
	 
</body>
